<!DOCTYPE html>
<html lang="en">
<head>
    {% load tags %}
    <meta charset="UTF-8">
    <title>Λίστα Ειδικοτήτων</title>
    <link rel="stylesheet" type='text/css' href="{% style 'tables/list_table_page.css' %}">
</head>
<body>
    {% load render %}
    {% renderStudentBackendNavbar request %}
    <div class="header">
        <h3>Ειδικότητες</h3>
        <a href="{% url 'add_specialty' %}"><img src="{% image 'general/icons/add-icon.png' %}" height="30px" width="30px" style="margin-top:24%;"/></a>
    </div>
    <table style="width: 100%;" class="list-table" cellpadding="10">
        <tr class="list-table-header">
            <th>#</th>
            <th>Kωδικός Ειδικότητας</th>
            <th>Ειδικότητα</th>
            <th>Διάρκεια<br>(σε μήνες)</th>
            <th>Ενδεικτική Τιμή</th>
            <th></th>
        </tr>
        {% for specialty in objects %}
        <tr class="datarow">
            <td>
                {{specialty.id}}
            </td>
            <td>
                {{specialty.code}}
            </td>
            <td>
                {{specialty.specialty}}
            </td>
            <td>
                {{specialty.duration}}
            </td>
            <td>
                {{specialty.price}} &euro;
            </td>
            <td>
                <a href="{% url 'edit_specialty' specialty.id %}"><img src="{% image 'students/icons/edit-icon.png' %}" title="Επεξεργασία" width="25px" height="25px"/></a>
                <a href="DELETESPECIALTY"><img src="{% image 'students/icons/delete-icon.png' %}" title="Διαγραφή" width="25px" height="25px"/></a>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>