<!DOCTYPE html>
<html lang="en">
<head>
    {% load tags %}
    <meta charset="UTF-8">
    <title>Λίστα Ειδικοτήτων</title>
    <link rel="stylesheet" type='text/css' href="{% style 'tables/list_table_page.css' %}">
</head>
<body>
    {% load render %}
    {% renderStudentBackendNavbar request %}
    <div class="header">
        <h3>Τμήματα</h3>
        <a href="{% url 'add_student_department' %}"><img src="{% image 'general/icons/add-icon.png' %}" height="30px" width="30px" style="margin-top:24%;"/></a>
    </div>
    <table style="width: 100%;" class="list-table" cellpadding="10">
        <tr class="list-table-header">
            <th>#</th>
            <th>Τμήμα</th>
            <th></th>
        </tr>
        {% for department in objects %}
        <tr class="datarow">
            <td>
                {{department.id}}
            </td>
            <td>
                {{department.name}}
            </td>
            <td>
                <div class="buttons">
                    <a href="{% url 'edit_student_department' department.id %}"><img src="{% image 'general/icons/edit-icon.png' %}" title="Επεξεργασία" width="25px" height="20px"/></a>
                    <a href="{% url 'delete_student_department' department.id %}"><img src="{% image 'general/icons/delete-icon.png' %}" title="Διαγραφή" width="25px" height="20px"/></a>
                    <a href="{% url 'delete_student_department' department.id %}"><img src="{% image 'general/icons/clock-icon.png' %}" title="Διαγραφή" width="25px" height="20px"/></a>
                </div>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>