<!DOCTYPE html>
<html>
    {% load tags %}
    <link rel="stylesheet" href="{% style 'navbars/navbar_one.css' %}">
    <script src="{% script 'scripts/navbars/navbar_one.js' %}"></script>
    {% load tags %}
    {% block nav %}
    {% if messages %}
            {% for message in messages %}
                <div class="successmessages" id="successmessage">
                    <div class="cancel" onclick="hideMessages()">X</div>
                    {{message}}
                </div>
            {% endfor %}
    {% endif %}
        {% if messages %}
            {% for message in messages %}
                <div class="successmessages" id="successmessage">
                    <div class="cancel" onclick="hideMessages()">X</div>
                    {{message}}
                </div>
            {% endfor %}
        {% endif %}
        <div class="navbar_container">
            <div onclick="openNav()">
                <a class="menuitem">☰</a>
            </div>
            <div>
                <a href="{% url 'list-students' %}" class="menuitem">Ρομποτική</a>
            </div>
            <div>
                <a href="{% url 'list_specialties' %}" class="menuitem">κτλ</a>
            </div>
            <div>
                <a href="{% url 'list_teachers' %}" class="menuitem">κτλ</a>
            </div>
            <div>
                <a href="{% url 'list_departments' %}" class="menuitem">κτλ</a>
            </div>
            <div>
                <a href="#" class="menuitem">κτλ</a>
            </div>
            <div>
                <a href="#" class="menuitem"></a>
            </div>
            <div>
                <img src="" width="40px" height="40px" style="border-radius: 15px"/>{{user.lastname}} {{user.firstname}}<a>&#9660;</a>
            </div>
        </div>
    {% include 'sidenavbar_one.html'%}
    {% endblock %}
</html>