body
{
    margin:-0.3% 0 -0.3% 0%;
    background: #f3f4f7;
}
.navbardiv
{
    display: grid;
    grid-template-rows: 60px 50px;
    background: white;
}
.nav-top
{
    display: grid;
    grid-template-columns: 20% 60% 10% 10%;
}
.nav-labels
{
    display: grid;
    grid-template-columns: repeat(5,20%);
    line-height: 2.6;
    text-align: center;
}
.branding img {
    margin-top:11px;
    margin-left:2px;
}

.user
{
    display: grid;
    grid-column: 4;
    grid-template-columns: 28% 71%;
    text-align: center;
}