<!DOCTYPE html>
<html lang="en">
<head>
    {% load tags %}
    <meta charset="UTF-8">
    <title>Ανέβασμα Δικαιολογητικών</title>
    <link rel="stylesheet" href="{% style 'espa/Frontend/upload_documents.css' %}"/>
    {% loadBootstrap %}
</head>
<body>
    {% load render %}
    {% renderEspaFrontendNavbar request %}
    <div class="header">
        Προσθήκη Επιχείρησης
    </div>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
        <div class="form">
            <div class="form-group">
              <div class="col-md-12 inputs">
                  {{form}}
                  <input type="submit" class="form-control submit" />
              </div>
            </div>
        </div>
    </form>
</body>
</html>