<!DOCTYPE html>
<html lang="en">
<head>
    {% load tags %}
    <meta charset="UTF-8">
    <title>Προσθήκη Υπηρεσίας Blankpixel</title>
    {% loadJQuery %}
    <link rel="stylesheet" href="{% style 'forms/add_form_one.css' %}">
    <script src="{% script 'forms/add_form.js' %}"></script>
</head>
<body>
    {% load render %}
    {% renderBlankpixelNavbar request %}
    <div class="header">
        Προσθήκη Υπηρεσίας
    </div>
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <div class="inputs">
              <div class="col-md-6 form-group mx-auto">
                  {{form}}
                  <input type="submit" class="form-control submit" />
              </div>
            </div>
        </div>
    </form>
</body>
</html>