<!DOCTYPE html>
<html lang="en">
<head>
    {% load tags %}
    <meta charset="UTF-8">
    <title>Λίστα Ενδιαφερόμενων ΕΣΠΑ</title>
    <link rel="stylesheet" type='text/css' href="{% style 'tables/list_table_page.css' %}">
    <link rel="stylesheet" type='text/css' href="{% style 'espa/Backend/Navbar/header.css' %}">
</head>
<body>
    {% load render %}
    {% renderEspaBackendNavbar request %}
    <div class="header">
        <h3>Ενδιαφερόμενοι</h3>
        <a href="{% url 'add_espa_interested_business' %}"><img src="{% image 'general/icons/add-icon.png' %}" height="30px" width="30px" style="margin-top:24%;"/></a>
    </div>
    <table style="width: 100%;" class="list-table" cellpadding="10">
        <tr class="list-table-header">
            <th>#</th>
            <th>Επώνυμο</th>
            <th>Όνομα</th>
            <th>Τύπος Επιχείρησης</th>
            <th>Επωνυμία</th>
            <th>Τοποθεσία</th>
            <th>Τηλέφωνο</th>
            <th>Κινητό</th>
            <th>Email</th>
            <th>Συστάθηκε Από</th>
            <th>Υπηρεσίες</th>
            <th></th>
        </tr>
        {% for interested in objects %}
        <tr class="datarow">
            <td>
                {{interested.id}}
            </td>
            <td>
                {{interested.lastname}}
            </td>
            <td>
                {{interested.firstname}}
            </td>
            <td>
                {{interested.companytype}}
            </td>
            <td>
                {{interested.companyname}}
            </td>
            <td>
                {{interested.location}}
            </td>
            <td>
                {{interested.phonenumber}}
            </td>
            <td>
                {{interested.cellphone}}
            </td>
            <td>
                {{interested.email}}
            </td>
            <td>
                {{interested.referrer}}
            </td>
            <td>
                {{interested.services.count}}
            </td>
            <td>
                <div class="buttons">
                    <a href="{% url 'edit_espa_interested_business' interested.id %}"><img src="{% image 'general/icons/edit-icon.png' %}" title="Επεξεργασία" width="25px" height="20px"/></a>
                    <a href="{% url 'delete_espa_interested_business' interested.id %}"><img src="{% image 'general/icons/delete-icon.png' %}" title="Διαγραφή" width="25px" height="20px"/></a>
                    <a href="{% url 'view_espa_interested_business' interested.id %}"><img src="{% image 'general/icons/view-icon.png' %}" title="Επισκόπηση" width="25px" height="20px"/></a>
                    <a href="{% url 'approve_espa_interested_business' interested.id %}" onclick="return confirm('Είστε σίγουροι πως θέλετε να εγκρίνετε αυτόν τον ενδιαφερόμενο;')"><img src="{% image 'general/icons/tick-icon.png' %}" title="Έγκριση" width="25px" height="20px"/></a>
                </div>
            </td>
        </tr>
        {% endfor %}
    </table>
    <div class="pages">
        {% if objects.has_previous %}
        <a href="?page={{ objects.previous_page_number }}" style="text-decoration:none;">Προηγούμενη Σελίδα</a>
        {% endif %}
        {% if objects.has_next %}
        <a href="?page={{ objects.next_page_number }}" style="text-decoration:none;">Επόμενη Σελίδα</a>
        {% endif %}
    </div>
</body>
</html>