<!DOCTYPE html>
<html lang="en">
<head>
    {% load tags %}
    <meta charset="UTF-8">
    <title>Επισκόπηση Ταμείου</title>
    <link rel="stylesheet" href="{% style 'cash_register/register_overview.css' %}" />
    <script src="{% script 'cash_register/register_overview.js' %} "></script>
</head>
<body>
    {% load render %}
    {% renderRegisterBackendNavbar request %}
    <div class="total_income">
        earnings
        <div>
            <div>
                {{revenue}}
            </div>
        </div>
    </div>

    <div class="companies-overview">
        <div class="company-financials">
            <div class="company-tab">
                <div>
                    <img src="x" />
                </div>
                <div>
                    blankpixel -
                </div>
                <div>
                    price
                </div>
                <div>
                    costs
                </div>
            </div>
            <div class="company-tab">
                <div>
                    <img src="x" />
                </div>
                <div>
                    MEC -
                </div>
                <div>
                    price
                </div>
                <div>
                    costs
                </div>
            </div>
        </div>
        <div class="company-percentage-chart">
            chart
        </div>
    </div>

    <div class="company-analytics">
       <div class="blankpixel">
            blankpixel
       </div>
        <div class="blankpixel-dropdown">

        </div>
        <div class="mec">
            mec
        </div>
        <div class="mec-dropdown">

        </div>
    </div>
</body>
</html>