<!DOCTYPE html>
<html lang="en">
<head>
    {% load tags %}
    <meta charset="UTF-8">
    <title>Επεξεργασία σπουδαστή - {{id}}</title>
    <link rel="stylesheet" href="{% style 'students/add_student.css' %}"/>
</head>
<body>
    {% load render %}
    {% renderStudentBackendNavbar request %}
    <form method="POST">{% csrf_token %}
        <div class="studentlabel">
            ΣΤΟΙΧΕΙΑ ΣΠΟΥΔΑΣΤΗ
        </div>
        <div class="form">
            {{ studentform }}
        </div>
        <div id="voucherdiv">
            <div class="voucherlabel" id="voucherlabel">
                ΣΤΟΙΧΕΙΑ ΕΓΓΥΗΤΗ
            </div>
            <div class="voucherform" id="voucherform">
                {{ voucherform }}
            </div>
        </div>
        <input type="submit" />
    </form>
</body>
</html>
<script>
    document.getElementById("voucherdiv").addEventListener("load",() => {
        if("{{voucherform}}" === "")
        {
            this.style.display = "none";
        }
    });
</script>