.income
{
    display: grid;
    grid-template-columns: repeat(4,25%);
    grid-template-rows: 166px;
    margin-top:10px;
    background-color: white;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.21);
}
.income-item
{
     box-shadow: 0px 1px 3px 0px black;
}
.today-income
{
    display: grid;
    grid-template-rows: 23% 51% 26%;
}
.today-income h5
{
    margin-top:8px;
    text-align: left;
}
.totalrevenue
{
    text-align: center;
    margin-top:18px;
    font-size:23px;
}
body
{
    background:#e9ecef
}
.overview
{
    display: grid;
    grid-template-columns: repeat(2,50%);
    grid-template-rows: repeat(2,50%);
    text-align: center;
}
.expense
{
    color:red;
}
.header
{
    text-align: center;
    color:green
}