<!DOCTYPE html>
<html lang="en">
<head>
    {% load tags %}
    <meta charset="UTF-8">
    <title>Προσθήκη Δελτίου Παρουσιολογίου</title>
    {% loadJQuery %}
    <link rel="stylesheet" href="{% style 'forms/add_form_one.css' %}">
    <script src="{% script 'forms/add_form.js' %}"></script>
</head>
<body>
    {% load render %}
    {% renderTeacherFrontendNavbar request %}
    <form method="POST">
        {% csrf_token %}
      <div class="col-md-6 form-group mx-auto fields">
        <div class="header">
        Προσθήκη Δελτίου Παρουσιολογίου
        </div>
        {{form}}
        <input type="submit" class="form-control submit" />
      </div>
   </form>
</body>
</html>
{% if request.user.teacher %}
    <script>
        departmentfield = document.getElementById("id_department");
        url = "{% url 'get_teacher_departments' request.user.teacher.id %}";
        function changeDepartment(options_dict)
        {
            html = "";
            keys = Object.keys(options_dict);
            for(i=0;i<keys.length;i++)
            {
                html += "<option value='" + keys[i] + "'>" + options_dict[keys[i]] + "</option>";
            }
            departmentfield.innerHTML = html;
            return html;
        }
        window.onload = () => {
            fetch(url).then(
                response => response.json()
            ).then(
                data => {
                    changeDepartment(data);
                }
            );
        }
    </script>
{% endif %}