{% block nav %}
    {% load tags %}
    <meta charset="UTF-8">
    {% loadBootstrap %}
    {% loadJQuery %}
    <link rel="stylesheet" href="{% style 'navbars/navbar_one.css' %}">
    {% include 'messages.html' %}
    <nav class="navbar navbar-expand-lg" id="navbar">
        <div class="container-fluid">
            <a class="navbar-brand" href="#" onclick="openNav();">☰</a>
            <div class="collapse navbar-collapse">
              <div class="navbar-nav">
                <a class="nav-link" href="{% url 'list_blankpixel_clients' %}">Πελάτες</a>
                <a class="nav-link" href="{% url 'list_blankpixel_services' %}">Υπηρεσίες</a>
              </div>
            </div>
        </div>
    </nav>
    {% include 'sidebar.html' %}
{% endblock %}