<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>ΑΙΤΗΣΗ ΕΓΓΡΑΦΗΣ ΝΕΟΥ ΣΠΟΥΔΑΣΤΗ / ΣΠΟΥΔΑΣΤΡΙΑΣ ΣΤΟ MILLENNIUM EDUCATION CENTRE - MILLENNIUM EDUCATION CENTRE</title>
<style type="text/css">
body,td,th {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 9px;
}
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:active {
	text-decoration: none;
}

.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	box-shadow:inset 0px 1px 0px 0px #fce2c1;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #fb9e25) );
	background:-moz-linear-gradient( center top, #ffc477 5%, #fb9e25 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477', endColorstr='#fb9e25');
	background-color:#ffc477;
	-webkit-border-top-left-radius:5px;
	-moz-border-radius-topleft:5px;
	border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	-moz-border-radius-topright:5px;
	border-top-right-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	-moz-border-radius-bottomright:5px;
	border-bottom-right-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	-moz-border-radius-bottomleft:5px;
	border-bottom-left-radius:5px;
	text-indent:0px;
	border:1px solid #eeb44f;
	display:inline-block;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:14px;
	font-weight:bold;
	font-style:normal;
	height:30px;
	line-height:30px;
	width:141px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #cc9f52;
}
.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fb9e25), color-stop(1, #ffc477) );
	background:-moz-linear-gradient( center top, #fb9e25 5%, #ffc477 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb9e25', endColorstr='#ffc477');
	background-color:#fb9e25;
}.button:active {
	position:relative;
	top:1px;
}

input {
	text-transform: uppercase;
}

textarea {
	text-transform: uppercase;
}

</style>

</head>

<body>
<table width="98%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="33%" align="left" valign="middle"><img src="../images/millennium_logo_new1.png" width="150" height="31" /><br />
      <br /></td>
    <td width="67%" align="center" valign="middle"><p><span style="font-size:10px;"><strong>MILLENNIUM EDUCATION CENTRE<br />
ΚΕΝΤΡΟ ΔΙΑ ΒΙΟΥ ΜΑΘΗΣΗΣ ΕΠΙΠΕΔΟΥ 2</strong><br />
ΑΓ. ΓΕΩΡΓΙΟΥ 14, 63200, ΝΕΑ ΜΟΥΔΑΝΙΑ<br />
ΤΗΛ:
        23730 22192 – 23730 26739
        FAX:
        2373200085<br />
E-mail: <a href="mailto:info@millennium.edu.gr">info@millennium.edu.gr</a><br />
Website: <a href="http://www.millennium.edu.gr" target="_blank">www.millennium.edu.gr </a></span></p></td>
    <td width="0%" align="right" valign="middle"><img src="../images/eoppep 2000520.png" width="53" height="92" /></td>
  </tr>
  <tr>
    <td align="left" valign="middle">&nbsp;</td>
    <td align="center" valign="middle">&nbsp;</td>
    <td align="right" valign="middle">&nbsp;</td>
  </tr>
</table>
<table width="98%" border="0" align="center" cellpadding="0" cellspacing="0" style="border:0px solid #000;">
  <tr>
    <td width="5%" height="20" align="center" valign="middle" bgcolor="#ffffff"><span style="font-size:18px; font-weight:bold; color:#000; background:#fff;; background-color: #fff">ΣΥΜΦΩΝΗΤΙΚΟ ΟΙΚΟΝΟΜΙΚΩΝ ΥΠΟΧΡΕΩΣΕΩΝ</span></td>
  </tr>
  <tr>
    <td align="left" valign="top">&nbsp;</td>
  </tr>
  <tr>
    <td align="left" valign="top"><strong>1. </strong>Ο <strong>{{ student_fullname }}</strong> <em>(όνομα πατρός:<span style=""> <strong>FATHERSNAME</strong></span>)</em> έγινε δεκτός μετά από αίτηση του, από το <strong>ΚΕΝΤΡΟ ΔΙΑ ΒΙΟΥ ΜΑΘΗΣΗΣ ΕΠΙΠΕΔΟΥ 2</strong> <strong>MILLENNIUM EDUCATION CENTRE</strong> ως σπουδαστής στα παρακάτω τμήματα των ειδικοτήτων, με <strong>Αριθμό Μητρώου (Α.Μ.): 1452</strong></td>
  </tr>
  <tr>
    <td align="left" valign="top">&nbsp;</td>
  </tr>
  <tr>
    <td align="left" valign="top"><table width="90%" border="0" align="center" cellpadding="0" cellspacing="1">
      <tr>
        <td width="3%" height="25" align="left" valign="middle" bgcolor="#EFD3FF" style="border-bottom:1px dotted #666;">&nbsp;</td>
        <td width="37%" align="left" valign="middle" bgcolor="#EFD3FF" style="border-bottom:1px dotted #666;"><strong>Ειδικότητα</strong></td>
        <td width="10%" align="center" valign="middle" bgcolor="#EFD3FF" style="border-bottom:1px dotted #666;"><strong> Διάρκεια <em><br />
          <span style="font-size:8px;">(σε μήνες ή ώρες)</span></em></strong></td>
        <td width="10%" align="center" valign="middle" bgcolor="#EFD3FF" style="border-bottom:1px dotted #666;"><strong>Αρχικό <br />
          Κόστος &euro;</strong></td>
        <td width="10%" align="center" valign="middle" bgcolor="#EFD3FF" style="border-bottom:1px dotted #666;"><strong>Έκπτωση &euro;</strong></td>
        <td width="10%" align="center" valign="middle" bgcolor="#EFD3FF" style="border-bottom:1px dotted #666;"><strong>Τελικό <br />
          Ποσό &euro;</strong></td>
        <td width="10%" align="center" valign="middle" bgcolor="#EFD3FF" style="border-bottom:1px dotted #666;"><strong>Τμήμα</strong></td>
        <td width="10%" align="center" valign="middle" bgcolor="#EFD3FF" style="border-bottom:1px dotted #666;"><strong>Ακαδ. Έτος</strong></td>
      </tr>
            <tr>
        <td height="18" align="center" valign="middle" style="border-bottom:1px solid #666;"><strong>1</strong></td>
        <td align="left" valign="middle" style="border-bottom:1px solid #666;">{{ student_specialty }} <em style="color:#090;">SPECIALTY CODE</em></td>
        <td width="10%" align="center" valign="middle" style="border-bottom:1px solid #666;"><span style="color:#F00;">6</span></td>
        <td align="center" valign="middle" style="border-bottom:1px solid #666;">750,00</td>
        <td align="center" valign="middle" style="border-bottom:1px solid #666;">0,00</td>
        <td align="center" valign="middle" style="border-bottom:1px solid #666;">750,00</td>
        <td align="center" valign="middle" style="border-bottom:1px solid #666;">ΑΔΙΑΦΟΡΟ</td>
        <td align="center" valign="middle" style="border-bottom:1px solid #666;">SCHOOLYEAR</td>
      </tr>
            <tr style="color:#00C;">
        <td height="25" align="left" valign="middle" style="border-bottom:1px solid #666; font-size:10px;">&nbsp;</td>
        <td align="right" valign="middle" style="border-bottom:1px solid #666; font-size:10px;">&nbsp;</td>
        <td align="center" valign="middle" style="border-bottom:1px solid #666; font-size:10px;"><strong>ΣΥΝΟΛΑ</strong></td>
        <td align="center" valign="middle" style="border-bottom:1px solid #666; font-size:10px; color:#00C;"><strong><span id="in_total2">750,00 &euro;</span></strong></td>
        <td align="center" valign="middle" style="border-bottom:1px solid #666; font-size:10px; color:#00C;"><strong><span id="disc_total2">0,00 &euro;</span></strong></td>
        <td align="center" valign="middle" style="border-bottom:1px solid #666; font-size:10px; color:#00C;"><strong><span id="fin_total2">750,00 &euro;</span></strong></td>
        <td align="center" valign="middle" style="border-bottom:1px solid #666; font-size:10px;">&nbsp;</td>
        <td align="center" valign="middle" style="border-bottom:1px solid #666; font-size:10px;">&nbsp;</td>
      </tr>
          </table></td>
  </tr>
  <tr>
    <td align="left" valign="top">&nbsp;</td>
  </tr>
  <tr>
    <td align="left" valign="top"><strong>2. </strong>Υπεύθυνος για τις οικονομικές υποχρεώσεις του σπουδαστή είναι ο:<strong> <span style="border-bottom:0px dotted #666;">{{ student_fullname }}</span></strong>  <em>(όνομα πατρός: FATHERSNAME)</em></td>
  </tr>
  <tr>
    <td align="left" valign="top">&nbsp;</td>
  </tr>
  <tr>
    <td align="left" valign="top"><strong>3.</strong> Η συνολική οικονομική υποχρέωση για το μεγαλύτερο σε διάρκεια Ακαδημαϊκό έτος των παραπάνω τμημάτων  είναι (συμπεριλαμανομένων όλων των τμημάτων και ειδικοτήτων):<strong> (LETTERS)ΕΠΤΑΚΟΣΙΑ ΠΕΝΗΝΤΑ <em>ΕΥΡΩ &euro;</em> (750,00 &euro;)(PRICE)</strong></td>
  </tr>
  <tr>
    <td align="left" valign="top">&nbsp;</td>
  </tr>
  <tr>
    <td align="left" valign="top"><strong>4. </strong>Το όλο ποσό των διδάκτρων είναι απαιτητό με την εγγραφή του σπουδαστή. Για διευκόλυνση του όμως είναι δεκτή η εξόφληση των διδάκτρων σε δόσεις κατά τον ακόλουθο τρόπο (οι ημερομηνίες είναι καταληκτικές): </td>
  </tr>
  <tr>
    <td align="left" valign="top">&nbsp;</td>
  </tr>
  <tr>
    <td align="left" valign="top"><table width="90%" border="0" align="center" cellpadding="0" cellspacing="0" id="dosologio2" style="display:table; width:90%; border:1px solid #000;">
      <tr style="display:table-row;" id="header_line_2">
        <td width="99%" height="20" align="center" valign="middle" bgcolor="#F21D24" style="width:100%; color:#FFF;"><strong>ΔΟΣΟΛΟΓΙΟ</strong></td>
      </tr>
      <tr style="display:table-row;">
        <td height="20" align="center" valign="middle" style="width:100%; color:#FFF;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="50%" align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="33%" height="18" align="center" valign="middle" bgcolor="#F21D24"><strong>Δόση</strong></td>
                <td width="33%" align="center" valign="middle" bgcolor="#F21D24"><strong>Ημερομηνία</strong></td>
                <td width="33%" align="center" valign="middle" bgcolor="#F21D24" style=""><strong>Ποσό &euro;</strong></td>
              </tr>
                            <tr style="color:#000;">
                <td height="15" align="center" valign="middle" bgcolor="#FFFFFF" style="width:33%; border-bottom:1px solid #000; font-size:9px; height:15px;"><span>
                  Προκαταβολή                </span></td>
                <td align="center" valign="middle" bgcolor="#FFFFFF" style="width:33%; border-bottom:1px solid #000; font-size:9px;"><span>06/11/2020</span></td>
                <td align="center" valign="middle" bgcolor="#FFFFFF" style="width:33%; border-bottom:1px solid #000;   font-size:9px;"><span>100,00</span></td>
              </tr>
              FOREACH(DOSEIS)
                            <tr style="color:#000;">
                <td height="15" align="center" valign="middle" bgcolor="#FFFFFF" style="width:33%; border-bottom:1px solid #000; font-size:9px; height:15px;"><span>
                  1                </span></td>
                <td align="center" valign="middle" bgcolor="#FFFFFF" style="width:33%; border-bottom:1px solid #000; font-size:9px;"><span>30/12/2020</span></td>
                <td align="center" valign="middle" bgcolor="#FFFFFF" style="width:33%; border-bottom:1px solid #000;   font-size:9px;"><span>108,33</span></td>
              </tr>
              </tr>
              ENDFOREACH
                          </table></td>
                      </tr>
        </table></td>
      </tr>
                                                    </table></td>
  </tr>
  <tr>
    <td align="left" valign="top">&nbsp;</td>
  </tr>
  <tr>
    <td align="left" valign="top"><p><strong>5. </strong>Γίνεται δεκτό ότι παρά την συμφωνία εξόφλησης των διδάκτρων σε δόσεις, το όλο ποσό ειναι απαιτητό, ανεξάρτητα από το εάν ο σπουδαστής διακόψει τη φοίτηση του. Γίνεται επίσης δεκτό ότι η καταβληθείσα προκαταβολή δεν επιστρέφεται σε καμία περίπτωση.</p>
      <p>Η εξόφληση των δόσεων μπορεί να γίνεται στα ταμεία της σχολής ή με κατάθεση στον τραπεζικό λογαριασμό της <strong>ΕΘΝΙΚΗΣ ΤΡΑΠΕΖΑΣ 453/60766294 <em>(IBAN: GR63 0110 4530 0000 4536 0766 294)</em></strong>, με όνομα καταθέτη αυτό του σπουδαστή.</p></td>
  </tr>
  <tr>
    <td align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td align="center" valign="middle"><table width="100%" border="0" cellspacing="5" cellpadding="1">
          <tr>
            <td width="50%" align="center" valign="middle" bgcolor="#FFFFFF"><strong>ΥΠΕΥΘΥΝΟΣ ΟΙΚΟΝΟΜΙΚΩΝ ΥΠΟΧΡΕΩΣΕΩΝ</strong><strong></strong></td>
            <td width="50%" align="center" valign="middle" bgcolor="#FFFFFF"><strong>ΣΤΟΙΧΕΙΑ ΣΠΟΥΔΑΣΤΗ</strong><strong></strong></td>
            </tr>
          <tr>
            <td align="center" valign="middle" bgcolor="#FFFFFF">{{ student_fullname }}<em>(Α.Φ.Μ.: 106455997)</em><br />
              <span style="">ΠΟΛΥΓΥΡΟΣ</span>, <span style="">Τ.Κ. </span>, <span style="">ΠΟΛΥΓΥΡΟΣ</span><br />
              <span style="">ΝΟΜΟΣ: ΧΑΛΚΙΔΙΚΉΣ</span></td>
            <td align="center" valign="middle" bgcolor="#FFFFFF">{{ student_fullname }}<br />
              <span style="">ΠΟΛΥΓΥΡΟΣ</span>, <span style="">Τ.Κ. </span>, <span style="">ΠΟΛΥΓΥΡΟΣ</span><br /><span style="">ΝΟΜΟΣ: ΧΑΛΚΙΔΙΚΉΣ</span><br />
              </td>
            </tr>
          <tr>
            <td colspan="2" align="center" valign="middle" bgcolor="#FFFFFF"><strong>Ο Ι&nbsp;&nbsp;&nbsp;Σ Υ Μ Β Α Λ Λ Ο Μ Ε Ν Ο Ι </strong></td>
          </tr>
          <tr>
            <td align="center" valign="middle" bgcolor="#FFFFFF">Για τον Σπουδαστή</td>
            <td align="center" valign="middle" bgcolor="#FFFFFF">Κέντρο Διά Βίου Μάθησης Επιπέδου 2<br />
              Millennium Education Centre </td>
            </tr>
          </table></td>
      </tr>
      </table></td>
  </tr>
  <tr>
    <td align="left" valign="top">&nbsp;</td>
  </tr>
</table>

</body>
</html>