<!doctype html>
<html>
<head>
    {% load tags %}
    <meta charset="UTF-8">
    <title>Βεβαίωση Σπουδών ΚΕΑΣ ΞΥΝΗ {{postdata|hash:"lastname"}} {{postdata|hash:"firstname"}}</title>
    <style type="text/css">
    body,td,th {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        font-size: 28px;
    }
    body {
        margin-left: 0px;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        line-height:49px;
    }
</style>
</head>

<body>
<table width="1530" height="1067" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td align="left" valign="top" style="background:url(img/epainosbgfwithout2.jpg);background-size: 1530px 1067px;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="488" align="left" valign="top">&nbsp;</td>
      </tr>
      <tr>
        <td align="center" valign="top" style="       line-height: 26px;    font-family: minion-pro;    font-size: 18px;">

          έπαινο συμμετοχής στην σπουδάστρια
		  <br>
          <strong>{{postdata|hash:"lastname"}} {{postdata|hash:"firstname"}}</strong> όνομα πατρός <strong>{{postdata|hash:"fathersname"}}</strong>
		  <br>
		  <br>
		  Για τη συμμετοχή της <strong>{{postdata|hash:"contest"}},</strong>
		  <br>
		 που πραγματοποιήθηκε στο {{postdata|hash:"contest_location"}}.

		  </td>
      </tr>
      <tr>
        <td height="80" align="left" valign="top">&nbsp;</td>
      </tr>
      <tr>
        <td height="70" align="center" valign="top" style="background: url(img/peschousignature.png);background-position: 325px -4px;background-size: 213px;background-repeat: no-repeat;"> <span style="font-size: 18px;font-weight: 900;margin-right: 692px;">Η Διευθύντρια του M.E.C.</span><br style="
    height: 12px;
"><span style="font-size: 18px;font-weight: 900;margin-right: 700px;">Αθανασία Πέσχου</span></td>
      </tr>
 <tr>
        <td align="left" valign="top">&nbsp;</td>
      </tr>
	   <tr>
        <td align="left" valign="top">&nbsp;</td>
      </tr>
	   <tr>
        <td align="left" valign="top">&nbsp;</td>
      </tr> <tr>
        <td align="left" valign="top">&nbsp;</td>
      </tr> <tr>
        <td align="left" valign="top">&nbsp;</td>
      </tr>
    </table></td>
  </tr>
</table>
</body>
</html>