body
{
    background:#e9ecef;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 400;
}

.companies-overview
{
    display: grid;
    grid-template-columns: 70% 30%;
    text-align: center;
}

.company-tab
{
    display: grid;
    grid-template-columns: 2% 10% 9% 17%;
}

.company-analytics
{
    display: grid;

}