<!DOCTYPE html>
<html lang="en">
<head>
    {% load tags %}
    <meta charset="UTF-8">
    <title>Βαθμολογία Εξετάσεων - {{lastname}} {{firstname}}</title>
    <link rel="stylesheet" href="{% style 'forms/add_form_one.css' %}">
    {% loadJQuery %}
    {% loadBootstrap %}
</head>
<body>
    {% load render %}
    {% renderTeacherFrontendNavbar request %}
    <div class="header">
        Προσθήκη Βαθμού Εξέτασης
    </div>
    <form method="POST">
            {% csrf_token %}
        <div class="form">
            <div class="form-group">
              <div class="col-md-12">
                  {{form}}
                  <input type="submit" class="form-control submit" />
              </div>
            </div>
        </div>
    </form>
</body>
</html>
{% if request.user.teacher %}
    <script>
        departmentfield = document.getElementById("id_department");
        studentsfield = document.getElementById("id_student");
        departmentsurl = "{% url 'get_teacher_departments' request.user.teacher.id %}";
        function changeValues(options_dict,field)
        {
            html = "";
            keys = Object.keys(options_dict);
            for(i=0;i<keys.length;i++)
            {
                html += "<option value='" + keys[i] + "'>" + options_dict[keys[i]] + "</option>";
            }
            field.innerHTML = html;
            return html;
        }
        window.onload = () => {
            fetch(departmentsurl).then(
                response => response.json()
            ).then(
                data => {
                    changeValues(data,departmentfield);
                }
            );
        }
        departmentfield.addEventListener("change",() => {
            studentsurl = "json/get/students/"+ departmentfield.value;
            fetch(studentsurl).then(
                response => response.json()
            ).then(
                data => {
                    changeValues(data,studentsfield)
                }
            );
        });
    </script>
{% endif %}