<!DOCTYPE html>
<html lang="en">
<head>
    {% load tags %}
    <meta charset="UTF-8">
    <title>Βαθμολογία Εξετάσεων - {{lastname}} {{firstname}}</title>
    <link rel="stylesheet" href="{% style 'forms/add_form_one.css' %}">
    {% loadBootstrap %}
</head>
<body>
    {% load render %}
    {% renderTeacherFrontendNavbar request %}
    <div class="header">
        Προσθήκη Ειδικότητας
    </div>
    <form method="POST">
            {% csrf_token %}
        <div class="form">
            <div class="form-group">
              <div class="col-md-12">
                  {{form}}
                  <input type="submit" class="form-control submit" />
              </div>
            </div>
        </div>
    </form>
</body>
</html>

<script>
    departmentfield = document.getElementById("id_department");
    url = "/teachers/json/get/departments/"+"{{request.user.teacher.id}}";
    function changeDepartment(options_dict,field)
    {
        html = ""
        keys = Object.keys(options_dict);
        for(var i in keys)
        {
            html += "<option value='" + keys + "'>" + options_dict[i] + "</option>"
        }
        field.innerHTML = html;
        return html;
    }
    var testdict = {
        1:"test",
        2:"test2",
        3:"test3"
    };
    changeDepartment(testdict,departmentfield);
</script>