.message
{
    position: relative;
    top:0;
    width: 100%;
    text-align: center;
    height: 30px;
}

.success
{
    background-color: green;

}

.error
{
    background-color: red;
}

.info
{
    background-color: yellow;
}

.warning
{

}

.cancel
{
    text-align: right;
}
.cancel:hover
{
    cursor: pointer;
    color:red;
}