{% block navbar %}
{% load tags %}
<script>
  function openNav() {
  document.getElementById("sidenavone").style.display = "block";
  }

  function closeNav() {
    document.getElementById("sidenavone").style.display = "none";
  }
</script>

<nav id="sidenavone" class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0" style="background: var(--bs-red);display: none;">
  <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
          <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-laugh-wink"></i></div>
          <div class="sidebar-brand-text mx-3"><span>MILLENNIUM</span></div>
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">X</a>
      </a>
      <ul class="navbar-nav ms-auto">
          <li class="nav-item"><a class="nav-link active" href="#">First Item</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Second Item</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Third Item</a></li>
      </ul>
  </div>
</nav>

{% endblock %}