<!DOCTYPE html>
<html lang="en">
<head>
    {% load tags %}
    <meta charset="UTF-8">
    <title>Εκδήλωση Ενδιαφέροντος</title>
    {% loadJQuery %}
    <link rel="stylesheet" href="{% style 'forms/add_form_one.css' %}">
    <script src="{% script 'forms/add_form.js' %}"></script>
    {% loadBootstrap %}
</head>
<body>
    <form method="POST">
        {% csrf_token %}
      <div class="col-md-6 form-group mx-auto fields">
        <div class="header">
        Εκδήλωση Ενδιαφέροντος
        </div>
        {{form}}
        <input type="submit" class="form-control submit" />
      </div>
    </form>
</body>
</html>