<!DOCTYPE html>
<html lang="en">
<head>
    {% load tags %}
    <meta charset="UTF-8">
    <title>Προσθήκη Επιδοτούμενου</title>
    <link rel="stylesheet" href="{% style 'forms/add_form_one.css' %}"/>
    {% loadBootstrap %}
</head>
<body>
    {% load render %}
    {% renderOaedSubsidyBackendNavbar request %}
    <div class="header">
        Προσθήκη Εγγράφων Επιδοτούμενου
    </div>
    <form method="POST">
            {% csrf_token %}
        <div class="form">
            <div class="form-group">
              <div class="col-md-12 inputs">
                  {{form}}
                  <input type="submit" class="form-control submit" />
              </div>
            </div>
        </div>
    </form>
</body>
</html>