<!DOCTYPE html>
<html lang="en">
<head>
    {% load tags %}
    <meta charset="UTF-8">
    <title>Λίστα Επιδοτούμενων Κοινωφελής Εργασίας</title>
    <link rel="stylesheet" type='text/css' href="{% style 'tables/list_table_page.css' %}">
</head>
<body>
    {% load render %}
    {% renderOaedSubsidyBackendNavbar request %}
    <div class="header">
        <h3>Επιδοτούμενοι</h3>
        <a href="{% url 'add_oaed_subsidized_individual' %}"><img src="{% image 'general/icons/add-icon.png' %}" height="30px" width="30px" style="margin-top:24%;"/></a>
    </div>
    <form method="GET" class="search">
        {{ filter.form }}
        <input type="submit" />
    </form>
    <table style="width: 100%;" class="list-table" cellpadding="10">
        <tr class="list-table-header">
            <th></th>
            <th>#</th>
            <th>Επώνυμο</th>
            <th>Όνομα</th>
            <th>Πατρώνυμο</th>
            <th>Μητρώνυμο</th>
            <th>Τηλέφωνο1 </th>
            <th>Τηλέφωνο 2</th>
            <th>Email</th>
            <th>Αρ. Αίτησης</th>
            <th>Αρ. ID</th>
            <th></th>
        </tr>
        {% for subsidized in objects %}
        <tr class="datarow">
            <td>
                <input type="checkbox"/>
            </td>
            <td>
                {{subsidized.id}}
            </td>
            <td>
                {{subsidized.lastname}}
            </td>
            <td>
                {{subsidized.firstname}}
            </td>
            <td>
                {{subsidized.fathersname}}
            </td>
            <td>
                {{subsidized.mothersname}}
            </td>
            <td>
                {{subsidized.phonenumber1}}
            </td>
            <td>
                {{subsidized.phonenumber2}}
            </td>
            <td>
                {{subsidized.email}}
            </td>
            <td>
                {{subsidized.oaed_id}}
            </td>
            <td>
                {{subsidized.beneficiary_id}}
            </td>
            <td>
                <div class="buttons">
                    <a href="{% url 'edit_oaed_subsidized_individual' subsidized.id %}"><img src="{% image 'general/icons/edit-icon.png' %}" title="Επεξεργασία" width="25px" height="20px"/></a>
                    <a href="{% url 'delete_oaed_subsidized_individual' subsidized.id %}"><img src="{% image 'general/icons/delete-icon.png' %}" title="Διαγραφή" width="25px" height="20px"/></a>
                    <a href="{% url 'view_oaed_subsidized_individual' subsidized.id %}"><img src="{% image 'general/icons/view-icon.png' %}" title="Επισκόπηση" width="25px" height="20px"/></a>
                </div>
            </td>
        </tr>
        {% endfor %}
    </table>
    <div class="pages">
        {% if objects.has_previous %}
        <a href="?page={{ objects.previous_page_number }}" style="text-decoration:none;">Προηγούμενη Σελίδα</a>
        {% endif %}
        {% if objects.has_next %}
        <a href="?page={{ objects.next_page_number }}" style="text-decoration:none;">Επόμενη Σελίδα</a>
        {% endif %}
    </div>
</body>
</html>