<!DOCTYPE html>
<html lang="en">
<head>
    {% load tags %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% style 'navbars/navbar_one.css' %}" />
</head>
<body>
    {% block nav %}
        {% if messages %}
            {% for message in messages %}
                <div class="successmessages" id="successmessage">
                    <div class="cancel" onclick="hideMessages()">X</div>
                    {{message}}
                </div>
            {% endfor %}
    {% endif %}
        {% if messages %}
            {% for message in messages %}
                <div class="successmessages" id="successmessage">
                    <div class="cancel" onclick="hideMessages()">X</div>
                    {{message}}
                </div>
            {% endfor %}
        {% endif %}
        <div class="navbar_container">
            <div onclick="openNav()">
                <a class="menuitem">☰</a>
            </div>
            <div>
                <a href="{% url 'list_blankpixel_clients' %}" class="menuitem">Πελάτες</a>
            </div>
            <div>
                <a href="{% url 'list_blankpixel_domains' %}" class="menuitem">Domains</a>
            </div>
            <div>
                <a href="{% url 'list_teachers' %}" class="menuitem">Καθηγητές</a>
            </div>
            <div>
                <a href="{% url 'list_departments' %}" class="menuitem">Τμήματα</a>
            </div>
            <div>
                <a href="#" class="menuitem">Πρόγραμμα</a>
            </div>
            <div>
                <a href="#" class="menuitem"></a>
            </div>
            <div>
                <img src="" width="40px" height="40px" style="border-radius: 15px"/> {{username}}<a>&#9660;</a>
            </div>
        </div>
    {% include 'sidenavbar_one.html'%}
    {% endblock %}
</body>
</html>