<!DOCTYPE html>
<html lang="en">
<head>
    {% load tags %}
    <meta charset="UTF-8">
    <title>Προσθήκη Καθηγητή</title>
    <link rel="stylesheet" href="{% style 'students/add_teacher.css' %}" />
    <link rel="stylesheet" href="{% style 'forms/add_form_one.css' %}"/>
    {% loadBootstrap %}
</head>
<body>
    {% load render %}
    {% renderTeacherBackendNavbar request %}
    <div class="header">
        Προσθήκη Καθηγητή
    </div>
        <form method="POST">
            {% csrf_token %}
        <div class="form">
            <div class="form-group">
              <div class="col-md-12 inputs">
                  {{form}}
                  <label for="id_username">Όνομα Χρήστη:</label>
                  <input type="text" name="username" maxlength="30" class="form-control" required="" id="id_username">
                  <input type="submit" class="form-control submit" />
              </div>
            </div>
        </div>
    </form>
</body>
</html>
<script>
    function setUsername()
    {
        var username = document.getElementById("id_username");
        var firstname = document.getElementById("id_firstname");
        var lastname = document.getElementById("id_lastname");
        if(firstname.value != "" && lastname.value != "")
        {
            username.value = firstname.value[0] + lastname.value;
        }
    }
    var firstname = document.getElementById("id_firstname");
    var lastname = document.getElementById("id_lastname");
    firstname.onchange = setUsername();
    lastname.onchange = setUsername();
</script>