<!DOCTYPE html>
<html lang="en">
<head>
    {% load tags %}
    <meta charset="UTF-8">
    <title>Λίστα Επιχειρήσεων ΕΣΠΑ</title>
    <link rel="stylesheet" type='text/css' href="{% style 'tables/list_table_page.css' %}">
    <link rel="stylesheet" type='text/css' href="{% style 'espa/Backend/Subsidized/list_subsidized.css' %}">
</head>
<body>
    {% load render %}
    {% renderEspaBackendNavbar request %}
    <div class="header">
        <h3>Επιχειρήσεις</h3>
        <a href="{% url 'add_espa_subsidized_business' %}"><img src="{% image 'general/icons/add-icon.png' %}" height="30px" width="30px" style="margin-top:24%;"/></a>
    </div>
    <form method="GET" class="search">
        {{ filter.form }}
        <input type="submit" />
    </form>

    <table style="width: 100%;" class="list-table" cellpadding="10">
        <tr class="list-table-header">
            <th></th>
            <th>#</th>
            <th>Επώνυμο</th>
            <th>Όνομα</th>
            <th>Τύπος Επιχείρησης</th>
            <th>Επωνυμία</th>
            <th>Τοποθεσία</th>
            <th>Τηλέφωνο</th>
            <th>Κινητό</th>
            <th>Email</th>
            <th>Συστάθηκε Από</th>
            <th>Υπηρεσίες</th>
            <th>Στοιχεία Πρόσβασης</th>
            <th></th>
        </tr>
        {% for subsidized in objects %}
        <tr class="datarow">
            <td>
                <input type="checkbox"/>
            </td>
            <td>
                {{subsidized.id}}
            </td>
            <td>
                {{subsidized.lastname}}
            </td>
            <td>
                {{subsidized.firstname}}
            </td>
            <td>
                {{ subsidized.companytype }}
            </td>
            <td>
                {{subsidized.companyname}}
            </td>
            <td>
                {{subsidized.location}}
            </td>
            <td>
                {{subsidized.phonenumber}}
            </td>
            <td>
                {{subsidized.cellphone}}
            </td>
            <td>
                {{subsidized.email}}
            </td>
            <td>
                {{subsidized.referrer}}
            </td>
            <td>
                {{subsidized.services.count}}
            </td>
            <td>
                {% if subsidized.user %}
                    <img src="{% image 'general/icons/tick-icon.png' %}" width="30px" height="30px">
                {% else %}
                    <img src="{% image 'general/icons/red-cross-icon.png' %}" width="30px" height="30px">
                {% endif %}
            </td>
            <td>
                <div class="buttons">
                    <a href="{% url 'edit_espa_subsidized_business' subsidized.id %}"><img src="{% image 'general/icons/edit-icon.png' %}" title="Επεξεργασία" width="25px" height="20px"/></a>
                    <a href="{% url 'delete_espa_subsidized_business' subsidized.id %}"><img src="{% image 'general/icons/delete-icon.png' %}" title="Διαγραφή" width="25px" height="20px"/></a>
                    <a href="{% url 'view_espa_subsidized_business' subsidized.id %}"><img src="{% image 'general/icons/view-icon.png' %}" title="Επισκόπηση" width="25px" height="20px"/></a>
                    <a href="{% url 'documents_espa_subsidized_businesses' subsidized.id %}"><img src="{% image 'general/icons/multiple_documents_icon.png' %}" title="Δικαιολογητικά" width="25px" height="20px"/></a>
                    <a href="{% url 'create_espa_user_credentials' subsidized.id %}" onclick="return confirm('Είστε σίγουροι πως θέλετε να εκδόσετε στοιχεία πρόσβασης για αυτόν τον συνεργάτη;')"><img src="{% image 'general/icons/key-icon.png' %}" title="Έκδοση Στοιχείων Πρόσβασης" width="25px" height="20px"/></a>
                </div>
            </td>
        </tr>
        {% endfor %}
    </table>
    <div class="pages">
        {% if objects.has_previous %}
        <a href="?page={{ objects.previous_page_number }}" style="text-decoration:none;">Προηγούμενη Σελίδα</a>
        {% endif %}
        {% if objects.has_next %}
        <a href="?page={{ objects.next_page_number }}" style="text-decoration:none;">Επόμενη Σελίδα</a>
        {% endif %}
    </div>
</body>
</html>