<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Επισκόπηση Επιχείρησης {{ instance.id }} ΕΣΠΑ</title>
</head>
<body>
    {% load render %}
    {% renderEspaBackendNavbar request %}
    <div>
        <a href="{% url 'documents_subsidized_businesses' instance.id %}">Δικαιολογητικά</a>
    </div>
    <div class="details">
        <h2>Πληροφορίες</h2>
        <table>
            <tr>
                <th>Username</th>
                <th>Password</th>
            </tr>
            <tr>
                <td>
                    {{ instance.username }}
                </td>
                <td>
                    {{ instance.password }}
                </td>
            </tr>
        </table>
    </div>
    <div class="services">
        <h2>Υπηρεσίες</h2>
        <div>
            <table>
                {% for service in instance.services.all %}
                    <tr>
                    <td>
                        {{ service }}
                    </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</body>
</html>
<style>
.details,.services
{
    text-align: center;
}
table
{
    width: 100%;
}
body
{
    margin:0 -0.3% -0.3% -0.3%;
    background: #e9ecef;
}
</style>