<!DOCTYPE html>
<html lang="en">
<head>
    {% load tags %}
    <meta charset="UTF-8">
    <title>Προσθήκη Πελάτη Blankpixel</title>
    <link rel="stylesheet" href="{% style 'forms/add_form_one.css' %}"/>
    {% loadBootstrap %}
</head>
<body>
    {% load render %}
    {% renderBlankpixelNavbar request %}
    <div class="header">
        Προσθήκη Ενδιαφερόμενου
    </div>
    <form method="POST">
        {% csrf_token %}
        <div class="form">
            <div class="form-group">
              <div class="col-md-12 inputs">
                  {{form}}
                  <input type="submit" class="form-control submit" />
                  {% for service in services %}
                    {{service.name}}
                  {% endfor %}
                  {% for form in servicesform %}
                    <label class="service-label">label</label>
                    {{form}}
                  {% endfor %}

              </div>
            </div>
        </div>
    </form>
</body>
</html>

<script>
    function test()
    {
        options = document.getElementById("id_form-0-service").options;
        labels = document.getElementsByClassName("service-label");
        values = [];
        for(i=1;i<options.length;i++)
        {
            values.push(options[i].value);
        }
        inputids = [];
        for(i=0;i<{{services_len}};i++)
        {
            inputids.push("id_form-"+i+"-service");
        }
        for(i=0;i<inputids.length;i++)
        {
            document.getElementById(inputids[i]).value=values[i];
        }
    }
</script>
<style>
    .errorlist
    {
        display: none;
    }
</style>