<!DOCTYPE html>
<html lang="en">
<head>
    {% load tags %}
    <meta charset="UTF-8">
    <title>Λίστα Πελατών Blankpixel</title>
    <link rel="stylesheet" type='text/css' href="{% style 'tables/list_table_page.css' %}">
    <link rel="stylesheet" type="text/css" href="{% style 'blankpixel/list_clients' %}">
</head>
<body>
    {% load render %}
    {% renderBlankpixelNavbar request %}
    <div class="header">
        <h3>Πελάτες</h3>
        <a href="{% url 'add_blankpixel_client' %}"><img src="{% image 'general/icons/add-icon.png' %}" height="30px" width="30px" style="margin-top:24%;"/></a>
    </div>
    <form method="GET" class="search">
        {{ filter.form }}
        <input type="submit" />
    </form>
    <table style="width: 100%;" class="list-table" cellpadding="10">
        <tr class="list-table-header">
            <th>#</th>
            <th>Όνομα</th>
            <th>Επίθετο</th>
            <th>Επωνυμία</th>
            <th>Τύπος Επιχείρησης</th>
            <th>Email</th>
            <th>Τοποθεσία</th>
            <th>Υπηρεσίες</th>
            <th></th>
        </tr>
        {% for client in objects %}
        <tr class="datarow">
            <td>
                {{client.id}}
            </td>
            <td>
                {{client.firstname}}
            </td>
            <td>
                {{client.lastname}}
            </td>
            <td>
                {{client.companyname}}
            </td>
            <td>
                {{client.companytype}}
            </td>
            <td>
                {{client.email}}
            </td>
            <td>
                {{client.location}}
            </td>
            <td>
                {{client.getTotalServices}}
            </td>
            <td>
                <div class="row">
                    <a href="{% url 'edit_blankpixel_client' client.id %}"><img src="{% image 'general/icons/edit-icon.png' %}" title="Επεξεργασία" width="25px" height="25px"/></a>
                    <a href="{% url 'delete_blankpixel_client' client.id %}"><img src="{% image 'general/icons/delete-icon.png' %}" title="Διαγραφή" width="25px" height="25px"/></a>
                    <a href="{% url 'view_blankpixel_client_services' client.id %}"><img src="{% image 'general/icons/view-icon.png' %}" title="Λίστα Υπηρεσιών" width="25px" height="25px"/></a>
                    <a href="{% url 'view_blankpixel_client_installments' client.id %}"><img src="{% image 'general/icons/installments-tab-icon.png' %}" title="Λίστα Δόσεων" width="25px" height="25px"/></a>
                </div>
                <div class="row">

                </div>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
<style>
    .header
    {
        background: darkcyan;
    }
</style>