<!DOCTYPE html>
<html lang="en">
<head>
    {% load tags %}
    <meta charset="UTF-8">
    <title>Λίστα Υπηρεσίων Πελάτη - {{instance.companyname}}</title>
    <link rel="stylesheet" type='text/css' href="{% style 'tables/list_table_page.css' %}">
    <link rel="stylesheet" type="text/css" href="{% style 'blankpixel/list_clients' %}">
</head>
<body>
    {% load render %}
    {% renderBlankpixelNavbar request %}
    <div class="header">
        <h3>Λίστα Δόσεων Πελάτη - {{instance.companyname}}</h3>
        <a href="{% url 'add_blankpixel_client' %}"><img src="{% image 'general/icons/add-icon.png' %}" height="30px" width="30px" style="margin-top:24%;"/></a>
    </div>
    <form method="GET" class="search">
        {{ filter.form }}
        <input type="submit" />
    </form>
    <table style="width: 100%;" class="list-table" cellpadding="10">
        <tr class="list-table-header">
            <th>#</th>
            <th>Αρ. Δόσης</th>
            <th>Ποσό</th>
            <th>Απόδειξη</th>
            <th>Πληρώθηκε</th>
            <th></th>
        </tr>
        {% for installment in objects %}
        <tr class="datarow">
            <td>
                {{installment.id}}
            </td>
            <td>
                {{installment.payment_number}}
            </td>
            <td>
                {{installment.amount}}
            </td>
            <td>
                {{ installment.receipt|default_if_none:"-" }}
            </td>
            <td>
                {% if installment.paid %}
                    <img src="{% image 'general/icons/tick-icon.png' %}" width="30px" height="30px">
                {% else %}
                    <img src="{% image 'general/icons/red-cross-icon.png' %}" width="30px" height="30px">
                {% endif %}
            </td>
            <td>
                {% if not installment.paid %}
                    <a href="{% url 'edit_blankpixel_client' installment.id %}"><img src="{% image 'general/icons/payment-receipt-icon.png' %}" title="Πληρωμή Δόσης" width="25px" height="25px"/></a>
                {% endif %}
                <a href="{% url 'delete_blankpixel_client' installment.id %}"><img src="{% image 'general/icons/delete-icon.png' %}" title="Διαγραφή" width="25px" height="25px"/></a>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>