<!DOCTYPE html>
<html lang="en">
<head>
    {% load tags %}
    <meta charset="UTF-8">
    <title>Επεξεργασία Απόδειξης</title>
    {% loadJQuery %}
    <link rel="stylesheet" href="{% style 'forms/edit_form_one.css' %}"/>
    <script src="{% script 'forms/edit_form.js' %}"></script>
</head>
<body>
    {% load render %}
    {% renderRegisterBackendNavbar request %}
    <form method="POST">
        {% csrf_token %}
      <div class="col-md-6 form-group mx-auto fields">
        <div class="header">
            Επεξεργασία Τμήματος
        </div>
        {{form}}
        <input type="submit" class="form-control submit" />
      </div>
   </form>
</body>
</html>